body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2044px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2044px;
  height:1522px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2044px;
  height:1522px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:753px;
  width:2040px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:606px;
  width:128px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:458px;
  width:58px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:1162px;
  width:62px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:1397px;
  width:770px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
